<div id="content" class="site-content">
    <article class="page">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            <div>
              <div class="image-cnt" style="position:relative" id="signature-pad">
                <img  src="https://cdn.shopify.com/s/files/1/2445/2869/t/458/assets/Merged_Sweetlegs_Contract_compressed.png?v=149731039329396157691661266317" usemap="#image-map" id="power-puff__map">
                  <map name="image-map">
                      <area target="" alt="First Signature" class="firstSignatureArea" title="First Signature" href="#" coords="150,1201,224,1276" shape="rect">
                      <area target="" alt="Second Signature" class="secondSignatureArea" title="Second Signature" href="#" coords="79,2269,324,2494" shape="rect">
                      <area target="" alt="Fourth Signature" class="fourthSignatureArea" title="Fourth Signature" href="#" coords="77,2849,339,3066" shape="rect">
                      <area target="" alt="Fifth Signature" class="fifthSignatureArea" title="Fifth Signature" href="#" coords="56,4481,304,4711" shape="rect">
                      <area target="" alt="Seventh Signature" class="seventhSignatureArea" title="Seventh Signature" href="#" coords="73,5640,312,5872" shape="rect">
                  </map>
            <div>
            </div>
          </div>
        </div>
      </div>
          <div style="width: 100%; 
                text-align: center; 
                height: 45px; 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                width: 75%; 
                margin: auto;" class="step_two_submission subscribebtn">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      <div class="submit_text">SUBMIT</div>
      </div>
    </article>

    <div class="wrapper">
        <div class="signature_pad_container">
          <div class="svg_container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M175 175C184.4 165.7 199.6 165.7 208.1 175L255.1 222.1L303 175C312.4 165.7 327.6 165.7 336.1 175C346.3 184.4 346.3 199.6 336.1 208.1L289.9 255.1L336.1 303C346.3 312.4 346.3 327.6 336.1 336.1C327.6 346.3 312.4 346.3 303 336.1L255.1 289.9L208.1 336.1C199.6 346.3 184.4 346.3 175 336.1C165.7 327.6 165.7 312.4 175 303L222.1 255.1L175 208.1C165.7 199.6 165.7 184.4 175 175V175zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"/></svg>
          </div> 
          <canvas id="signature-pad-modal" class="signature-pad-modal"></canvas>
          <div class="button_holder">
            <button class="subscribebtn" id="save-png">SAVE</button>
            <button class="subscribebtn" id="clear">CLEAR</button>
          </div> 
        </div>
      </div>
  </div>
</div>


<style>
    .lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #00c4b3;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  #signature_pad_page .wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .signature-pad-modal {
    left: 0;
    top: 0;
    width:400px;
    height:200px;
    background-color: white;
    border: 1px solid grey;
  }
  
  .button_holder{
    width: 400px;
    display: flex;
    justify-content: end;
  }
  
  .button_holder button{
  	margin-left: 10px;
  }
  
  .signature_pad_container {
    background: white;
    padding: 20px;
    border-radius: 12px;
  }
  
  #signature_pad_page .svg_container svg{
    width: 25px;
    height: 25px;
    float: right;
    margin: 0 0 15px;
    fill: #00c4b3;
  }
  .signature {
    position: absolute;
    left: 285px;
    top: 680px;
  }
  #signature_pad_page .circle {
    width: 200px;
    height: 200px;
  }
 @media only screen and (max-width: 600px) {
  #signature_pad_page .signature_pad_container {
    width: 90%;
  }
   #signature_pad_page .signature-pad-modal, .button_holder {
     width: 100%;
   }
} 
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script>
let clickedBoxClass = null;
  let signaturePad = null;
$(document).ready(function(e) {

setTimeout(function() {
$('area').each(function( index ) {
  console.log('this hit', $(this).attr('class'))
        let e = document.createElement('button');
        const addClassButton = `signature-pad-button ${$(this).attr('class')}`
        $(e).addClass(addClassButton);
        const coordiante =  $(this).attr('coords').split(',');
        let adjX = parseInt(coordiante[0]);
        let adjY = parseInt(coordiante[1]);
        let width = parseInt(coordiante[2]) - parseInt(coordiante[0]);
        let height = parseInt(coordiante[3]) - parseInt(coordiante[1]);   
        $(e).css("left",adjX);
        $(e).css("top",adjY);
         $(e).css("z-index",99999);
        $(e).css("position",'absolute');
        $(e).css("height", height);
        $(e).css("width", width);
        $('.image-cnt').append(e);
  })
  }, 1000);
class ImageResize {
  /**
   * constructor - make image maps responsive
   * @param {Object} config - setting for responsive image map
   */
  constructor(config) {
    const { width, height, element } = config;

    this.imageW = width;
    this.imageH = height;
    this.imageMap = document.querySelector(element);
    const mapId = this.imageMap.getAttribute('usemap');
    const mapElem = `map[name="${mapId.substring(1, mapId.length)}"]`;
    const area = document.querySelector(mapElem).children;
    this.areaArray = Array.from(area);

    window.addEventListener('resize', this.resizeEvent);
    setTimeout(this.imgMap, 500);
  }
  /**
   * getCoords - get image map coordinates
   * @param  {Node} elem - area tag
   * @return {String} - area map coordinates
   */
  getCoordinates = (elem) => {
    let areaCords = elem.dataset.coords;

    if (!areaCords) {
      areaCords = elem.getAttribute('coords');

      elem.dataset.coords = areaCords;
    }

    return areaCords;
  };
  imgMap = () => {
    this.wPercent = this.imageMap.offsetWidth / 100;
    this.hPercent = this.imageMap.offsetHeight / 100;

    this.areaArray.forEach(this.areaLoop);
  };
  /**
   * areaLoop - Loop through area tags for image map
   * @param  {Node} area - Area tag
   */
  areaLoop = (area) => {
    const coordinates = this.getCoordinates(area).split(',');
    const coordsPercent = coordinates.map(this.mapCoords).join();

    area.setAttribute('coords', coordsPercent);
  };
  /**
   * mapCoords - Set new image map coordinates based on new image width and height
   * @param  {String} coordinate - coordinates from image map array
   * @param  {Num} index - Loop index
   * @return {Num} - New image map coordinates
   */
  mapCoords = (coordinate, index) => {
    const parseCord = parseInt(coordinate, 10);

    return index % 2 === 0
      ? this.coordinatesMath(parseCord, this.imageW, this.wPercent)
      : this.coordinatesMath(parseCord, this.imageH, this.hPercent);
  };
  /**
   * coordinatesMath Set new coordinates from original image map coordinates
   * @param  {number} coordinates - original image map coordinate
   * @param  {number} imgVal - Image width or height value
   * @param  {number} percentVal - New image width or height divided by 100
   * @return {number} - New image map coordinates
   */
  coordinatesMath = (coordinates, imgVal, percentVal) =>
    (coordinates / imgVal) * 100 * percentVal;

  /**
   * resizeEvent - Resize Event
   */
  resizeEvent = () => {
    this.imgMap();
  };
}


const resizeImg = new ImageResize({
  width: 1700,
  height: 11000,
  element : '#power-puff__map'
})

function open_signature_pad(ClassName){
    $('.wrapper').css("display", "flex");
    let canvas = document.getElementById('signature-pad-modal');
    function resizeCanvas() {
      
      var ratio =  Math.max(window.devicePixelRatio || 1, 1);
      canvas.width = canvas.offsetWidth * ratio;
      canvas.height = canvas.offsetHeight * ratio;
      canvas.getContext("2d").scale(ratio, ratio);
    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    signaturePad = new SignaturePad(canvas, {
      backgroundColor: 'rgb(255, 255, 255,0)'
    });

    document.getElementById('save-png').addEventListener('click', function () {    
      const imgClassName = `img.square.${ClassName}`;
      if($(imgClassName).length > 0) {
        return;
      }   
      if (signaturePad.isEmpty()) {
        return alert("Please provide a signature first.");
      }

   
    });

    document.getElementById('clear').addEventListener('click', function () {
      signaturePad.clear();
    });
    
    // close signature pad
    document.getElementsByClassName('svg_container')[0].addEventListener('click', function(e){
      $('.wrapper').css("display", "none");
    });
  }

  $('#save-png').click(function() {
       var data = signaturePad.toDataURL('image/png');
        let e = document.createElement('img');
        const areaClass = `area.${clickedBoxClass}`
        const coordiante =  $(areaClass).attr('coords').split(',');
        let adjX = parseInt(coordiante[0]);
        let adjY = parseInt(coordiante[1]);
        let width = parseInt(coordiante[2]) - parseInt(coordiante[0]);
        let height = parseInt(coordiante[3]) - parseInt(coordiante[1]);   
        $(e).attr('src', data);
        $(`.signature-pad-button.${clickedBoxClass}`).append(e);
      $('.wrapper').css("display", "none");
  })
$(window).resize(function() {
  $('.signature-pad-button').each(function(i, obj) {
    const className = $(obj).attr('class').replace('signature-pad-button ', "");
     setTimeout(function(){
         const coordiante =  $(`area.${className}`).attr('coords').split(',');
        let x = parseInt(coordiante[0]);
        let y = parseInt(coordiante[1]);
        let width = parseInt(coordiante[2]) - parseInt(coordiante[0]);
        let height = parseInt(coordiante[3]) - parseInt(coordiante[1]);
        $(obj).css("left",x);
        $(obj).css("top",y);
        $(obj).css("height", height);
        $(obj).css("width", width);
       
     }, 500);
     
  })
});
$('.step_two_submission.subscribebtn').on('click', function(e) {
  $('.submit_text').css('display', 'none');
  $('.lds-ellipsis').css('display', 'flex');
  var domNode = document.getElementById('signature-pad')
  var scale = 1200/domNode.clientWidth;
   var options = {
           width: domNode.clientWidth * scale,
           height: domNode.clientHeight * scale,
           style: {
              transform: 'scale('+scale+')',
              transformOrigin: 'top left'
            }
      };

  
   domtoimage.toJpeg(document.getElementById('signature-pad'), options)
    .then(function (dataUrl) {
      var img = new Image();
      img.src = dataUrl;
      console.log("Image ", dataUrl);
      customerId = ``;
      console.log("customerId ", customerId);
      $.ajax({
                url : `https://sweetlegs.rocks/api/distributor-onboarding/Step2`,
                type : 'POST',
                data: {
                  customerId: customerId,
                  img: img.src
                },
                success : function(data) {
           }
      	});
      setTimeout(function(){    
        window.location = "/pages/id-sign-up-dashboard";
        $('.submit_text').css('display', 'block');
        $('.lds-ellipsis').css('display', 'none');
      }, 5000);
    })
    .catch(function (error) {
      console.error('oops, something went wrong!', error);
    });
}) 

  
$(document).on("click",".signature-pad-button",function() {	
    clickedBoxClass = $(this).attr('class').replace('signature-pad-button ', "");;
    open_signature_pad($(this).attr('class'));
});
});
</script>
