<!doctype html>

<!--[if IE 9]> <html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YVZCW8NVSB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YVZCW8NVSB');
  </script>
  <!-- Start of Booster Apps Seo-0.1--><title>Signature Pad&ndash; SweetLegs Canada</title><meta name="description" content="" />
<!-- end of Booster Apps SEO -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/solid.css" integrity="sha384-KyLwW4NRDhAz4RVatBCvFATniD3ze5rJvP1usxUFectdGgG8n+7OTcZug8s4bj5H" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/regular.css" integrity="sha384-FrLF2uGffV1P93pQZme192v/cHRu1XlgjMreWAScHPPjBz/p9pNTx/bTV83x8peQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/light.css" integrity="sha384-/ggAGHSQWxssDRflcj0aeAlGN2rNgsnWOLv1ZU5FEvjQWxP53glq5pNPjtfldVVN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/brands.css" integrity="sha384-wRa49NRotGDh34aLO1Hjbu65qHSTF/ZNSBm7uTpMUa2EQ1Csq7Zlswm+FR9hcWtn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/fontawesome.css" integrity="sha384-QSCxeayZXa6bvOhHReoQRGN7utvnOnY3JoBHGxM61JQQ1EXA7AT3m7dnlHXLhnCj" crossorigin="anonymous">
  <script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/jquery.min.js?v=74721525869110791951662853099" type="text/javascript"></script> 
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/TweenMax.min.js?v=6225290994854169161662853190" type="text/javascript"></script> 
  <script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/plyr.js?v=96753621108949829941662853125" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/timeago.js?v=33947496790588497731662853187" type="text/javascript"></script>
  <link href="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/plyr.css?v=99859199729305285431662853125" rel="stylesheet" type="text/css" media="all" />
  <script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/htmlElementsToImage.js?v=31991316272605082841662853089" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/signature_pad.umd.min.js?v=108916367030065635361662853147" type="text/javascript"></script>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0">
  <meta name="theme-color" content="">
  <link rel="canonical" href="https://www.sweetlegs.ca/pages/pdf-to-html">
  
<link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/2445/2869/files/SweetLegs-Insignia---teal_32x32.png?v=1537940033" type="image/png" /><link rel="apple-touch-icon-precomposed" href="//cdn.shopify.com/s/files/1/2445/2869/files/SweetLegs-Insignia---teal_152x152.png?v=1537940033" type="image/png" /><!-- -->

  

<meta property="og:site_name" content="SweetLegs Canada">
<meta property="og:url" content="https://www.sweetlegs.ca/pages/pdf-to-html">
<meta property="og:title" content="Signature Pad">
<meta property="og:type" content="website">
<meta property="og:description" content="SweetLegs is proud to offer an exciting lineup of exclusive Canadian-designed leggings, perfect for everyone! Self Confidence is the Best Outfit, Rock It & Own It!">
<meta property="og:image" content="https://cdn.shopify.com/s/files/1/2448/4493/t/50/assets/SweetLegs-Insignia---teal_medium.png">
  	<meta property="og:image:width" content="500" />
	<meta property="og:image:height" content="200" /><meta name="twitter:site" content="@sweetlegs">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Signature Pad">
<meta name="twitter:description" content="SweetLegs design patterned leggings, Maternity  and Athleisure wear that integrate comfort and fun for women and girls of all sizes and activities. Shop our new collection!"><link href="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/rt-application.scss.css?v=127962364583275376201662853225" rel="stylesheet" type="text/css" media="all" /><link href="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/rt-custom.scss.css?v=119446944087676655041662853225" rel="stylesheet" type="text/css" media="all" /><link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700,800,900" rel="stylesheet" type="text/css" media="all" /><script>
  var theme = {
    apps: {
      details: "Details",
      buyNow: "Buy now",
    },
    strings: {
      addToCart: "Add to cart",
      soldOut: "Sold out",
      unavailable: "Make A Selection",
      inStock: " ",
      outStock: "Out of stock",
      sale: "Sale!"
    },
    moneyFormat: "${{amount}}",
    sale_percentages: "",
    
    
    
    
    cart_ajax: "1",
    
    
    
    
    cart_ajax: "1",
    asset_url: "\/\/cdn.shopify.com\/s\/files\/1\/2445\/2869\/t\/467\/assets\/?95335",
    popup_mailchimp_period: 1,
    popup_mailchimp_delay: 1,
    compare: 0,
    compare_limit: 4
  }
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>
<!--[if (lte IE 9) ]><script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/match-media.min.js?v=22265819453975888031662853109" type="text/javascript"></script><![endif]--><!--[if (gt IE 9)|!(IE)]><!--><script src="//cdn.shopify.com/s/javascripts/currencies.js" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="//cdn.shopify.com/s/javascripts/currencies.js"></script><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/vendor.js?v=31983556706694941321662853190" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/vendor.js?v=31983556706694941321662853190"></script><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><script src="//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js"></script><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/theme.js?v=61284841934828144451662853156" defer="defer"></script><!--<![endif]-->
<!--[if lte IE 9]><script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/theme.js?v=61284841934828144451662853156"></script><![endif]-->


<!--CUSTOM EDITS FOR SCRIPTS-->
<link href="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/aos.css?v=171440860698160758581662853057" rel="stylesheet" type="text/css" media="all" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/aos.js?v=146123878477799097641662853057" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/jquery.cookie.js?v=113492286463590524721662853098" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/script-redirect.js?v=142544599968549113411662853143" type="text/javascript"></script>
<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta name="google-site-verification" content="zyhXsnJ1PP4zNSWb3SJPG5kZGSy86LKaee74yxmKYDg">
<meta name="google-site-verification" content="nzHEo8wgMVFPmBDbrahjYUnaqb2nok2uDq5tEXf0Mc8">
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/24452869/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="80f233d7df87250c9cfdcc442b6f33bf">
<meta id="in-context-paypal-metadata" data-shop-id="24452869" data-venmo-supported="false" data-environment="production" data-locale="en_US" data-paypal-v4="true" data-currency="CAD">
<script id="apple-pay-shop-capabilities" type="application/json">{"shopId":24452869,"countryCode":"CA","currencyCode":"CAD","merchantCapabilities":["supports3DS"],"merchantId":"gid:\/\/shopify\/Shop\/24452869","merchantName":"SweetLegs Canada","requiredBillingContactFields":["postalAddress","email","phone"],"requiredShippingContactFields":["postalAddress","email","phone"],"shippingType":"shipping","supportedNetworks":["visa","masterCard","amex","discover","jcb","chinaUnionPay"],"total":{"type":"pending","label":"SweetLegs Canada","amount":"1.00"},"shopifyPaymentsEnabled":true,"supportsSubscriptions":true}</script>
<script id="shopify-features" type="application/json">{"accessToken":"80f233d7df87250c9cfdcc442b6f33bf","betas":["rich-media-storefront-analytics"],"domain":"www.sweetlegs.ca","predictiveSearch":true,"shopId":24452869,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js?v=2","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "sweetlegs-cad.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"CAD","rate":"1.0"};
Shopify.country = "CA";
Shopify.theme = {"name":"Turn over a new leaf collection ","id":131251601581,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "/";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>window.ShopifyPay = window.ShopifyPay || {};
window.ShopifyPay.apiHost = "shop.app\/pay";</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["\/\/productreviews.shopifycdn.com\/embed\/loader.js?shop=sweetlegs-cad.myshopify.com","https:\/\/cdn.hextom.com\/js\/freeshippingbar.js?shop=sweetlegs-cad.myshopify.com","https:\/\/wheelioapp.azureedge.net\/app\/index.min.js?version=20220727115023576\u0026shop=sweetlegs-cad.myshopify.com","https:\/\/js.smile.io\/v1\/smile-shopify.js?shop=sweetlegs-cad.myshopify.com","https:\/\/shielded-waters-94000.herokuapp.com\/\/scripttags\/dummy.js?shop=sweetlegs-cad.myshopify.com","https:\/\/cdn.shopify.com\/s\/files\/1\/2445\/2869\/t\/389\/assets\/color1914905215.js?shop=sweetlegs-cad.myshopify.com","https:\/\/cdn.shopify.com\/s\/files\/1\/2445\/2869\/t\/389\/assets\/current743560810.js?shop=sweetlegs-cad.myshopify.com","https:\/\/cdn.nfcube.com\/659c1297c8226227287d57d78b0f9964.js?shop=sweetlegs-cad.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":24452869,"offset":-25200,"reqid":"2be9f297-b5e8-446c-b710-a31b295c0ddd","pageurl":"www.sweetlegs.ca\/pages\/pdf-to-html","s":"pages-88960303277","t":"prospect","u":"a8a21eba052d","p":"page","rtyp":"page","rid":88960303277};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>document.addEventListener('DOMContentLoaded', function() {
  const adminBarInjector = new Shopify.AdminBarInjector({
    targetNode: document.body,
    iframeSrc: 'https://sweetlegs-cad.myshopify.com/admin/bar?action_name=pages&handle=pdf-to-html&path=%2Fpages%2Fpdf-to-html&storefront_country=CA&storefront_locale=en',
    permanentDomain: 'sweetlegs-cad.myshopify.com',
  });

  adminBarInjector.init();
});</script>
<script integrity="sha256-qzgBevPPdZ2wrwu9HnUin2oYn1vx8ttCFpYwmYuWkCE=" data-source-attribution="shopify.loadfeatures" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-ab38017af3cf759db0af0bbd1e75229f6a189f5bf1f2db42169630998b969021.js" crossorigin="anonymous"></script>
<script crossorigin="anonymous" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/shopify_pay/storefront-c3e4eac7336b5ab7e89c5cd0db5100f5ba2e4b3a27e2f359bfcd7a8f59232a09.js?v=20220906"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
<script integrity="sha256-AjT+yRYgO8z0L66BMKoqBvO4SrOWLJYnYYWthdsOhP4=" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/bars/admin_bar_injector-0234fec916203bccf42fae8130aa2a06f3b84ab3962c96276185ad85db0e84fe.js" crossorigin="anonymous"></script>


<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style><script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script> 
 <style type="text/css" id="nitro-fontify" >
</style>


  
  
   
  
  
  <link rel="alternate" hreflang="en-CA" href="https://www.sweetlegs.ca/pages/pdf-to-html" />
  <link href="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/main-theme.css?v=3662416319155487551662853106" rel="stylesheet" type="text/css" media="all" /> 




  

  


  <!-- Global site tag (gtag.js) - Google Ads: 607048922 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-607048922"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-607048922');
  </script>

  
  
  

<link rel="preload" as="font" href="https://cdn.shopify.com/s/files/1/2445/2869/t/389/assets/revicons.woff?5510888" type="font/woff" crossorigin="anonymous" media="all"/>
<link rel="preload" as="font" href="https://cdn.shopify.com/s/files/1/2445/2869/t/389/assets/fontawesome-webfont.woff2?v=4.7.0" type="font/woff2" crossorigin="anonymous" media="all"/>
<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/2445/2869/t/389/assets/font-awesome.css?6.5.6.14" type="text/css" />
<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/2445/2869/t/389/assets/pe-icon-7-stroke.css?6.5.6.14" type="text/css" />
<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/2445/2869/t/389/assets/rs6.css?6.5.6.14" type="text/css" />

<script type="text/javascript">function setREVStartSize(e){
			//window.requestAnimationFrame(function() {
				window.RSIW = window.RSIW===undefined ? window.innerWidth : window.RSIW;
				window.RSIH = window.RSIH===undefined ? window.innerHeight : window.RSIH;
				try {
					var pw = document.getElementById(e.c).parentNode.offsetWidth,
						newh;
					pw = pw===0 || isNaN(pw) ? window.RSIW : pw;
					e.tabw = e.tabw===undefined ? 0 : parseInt(e.tabw);
					e.thumbw = e.thumbw===undefined ? 0 : parseInt(e.thumbw);
					e.tabh = e.tabh===undefined ? 0 : parseInt(e.tabh);
					e.thumbh = e.thumbh===undefined ? 0 : parseInt(e.thumbh);
					e.tabhide = e.tabhide===undefined ? 0 : parseInt(e.tabhide);
					e.thumbhide = e.thumbhide===undefined ? 0 : parseInt(e.thumbhide);
					e.mh = e.mh===undefined || e.mh=="" || e.mh==="auto" ? 0 : parseInt(e.mh,0);
					if(e.layout==="fullscreen" || e.l==="fullscreen")
						newh = Math.max(e.mh,window.RSIH);
					else{
						e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
						for (var i in e.rl) if (e.gw[i]===undefined || e.gw[i]===0) e.gw[i] = e.gw[i-1];
						e.gh = e.el===undefined || e.el==="" || (Array.isArray(e.el) && e.el.length==0)? e.gh : e.el;
						e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
						for (var i in e.rl) if (e.gh[i]===undefined || e.gh[i]===0) e.gh[i] = e.gh[i-1];

						var nl = new Array(e.rl.length),
							ix = 0,
							sl;
						e.tabw = e.tabhide>=pw ? 0 : e.tabw;
						e.thumbw = e.thumbhide>=pw ? 0 : e.thumbw;
						e.tabh = e.tabhide>=pw ? 0 : e.tabh;
						e.thumbh = e.thumbhide>=pw ? 0 : e.thumbh;
						for (var i in e.rl) nl[i] = e.rl[i]<window.RSIW ? 0 : e.rl[i];
						sl = nl[0];
						for (var i in nl) if (sl>nl[i] && nl[i]>0) { sl = nl[i]; ix=i;}
						var m = pw>(e.gw[ix]+e.tabw+e.thumbw) ? 1 : (pw-(e.tabw+e.thumbw)) / (e.gw[ix]);
						newh =  (e.gh[ix] * m) + (e.tabh + e.thumbh);
					}
					if(window.rs_init_css===undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
					document.getElementById(e.c).height = newh+"px";
					window.rs_init_css.innerHTML += "#"+e.c+"_wrapper { height: "+newh+"px }";
				} catch(e){
					console.log("Failure at Presize of Slider:" + e)
				}
			//});
		  };</script>
<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 24452869,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "page"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'CAD';
var meta = {"page":{"pageType":"page","resourceType":"page","resourceId":88960303277}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
<script class="analytics">(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var hasLoggedConversion = function(token) {
    if (token) {
      return document.cookie.indexOf('loggedConversion=' + token) !== -1;
    }
    return false;
  }

  var setCookieIfConversion = function(token) {
    if (token) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config || {};
    trekkie.config.initialDocumentCookie = document.cookie;
    var first = document.getElementsByTagName('script')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      var scriptFallback = document.createElement('script');
      scriptFallback.type = 'text/javascript';
      scriptFallback.onerror = function(error) {
              var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });
    
          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful
    
        } // XHR beacon   
    
        var xhr = new XMLHttpRequest();
    
        try {
          xhr.open('POST', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }
    
        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.1',
      {shop_id: 24452869,
      theme_id: 131251601581,
      app_name: "storefront",
      context_url: window.location.href,
      source_url: "https://cdn.shopify.com/s/trekkie.storefront.4e66b7932daba00cfd93bde327ce9e8f09bc9ffe.min.js"});

      };
      scriptFallback.async = true;
      scriptFallback.src = 'https://cdn.shopify.com/s/trekkie.storefront.4e66b7932daba00cfd93bde327ce9e8f09bc9ffe.min.js';
      first.parentNode.insertBefore(scriptFallback, first);
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/trekkie.storefront.4e66b7932daba00cfd93bde327ce9e8f09bc9ffe.min.js';
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":24452869,"isMerchantRequest":true,"themeId":131251601581,"themeCityHash":"17547646593318838713","contentLanguage":"en","currency":"CAD"},"isServerSideCookieWritingEnabled":true},"Google Analytics":{"trackingId":"UA-49729612-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Facebook Pixel":{"pixelIds":["1199860256780293"],"agent":"plshopify1.2"},"Pinterest Pixel":{"pixelId":"2613254124700"},"Session Attribution":{},"S2S":{"facebookCapiEnabled":false,"source":"trekkie-storefront-renderer"}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    
      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;

    window.ShopifyAnalytics.lib.page(null,{"pageType":"page","resourceType":"page","resourceId":88960303277});

    var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
    var token = match? match[1]: undefined;
    if (!hasLoggedConversion(token)) {
      setCookieIfConversion(token);
      
    }
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-65cd0ba3fcd81a1df33f2510ec5bcf8c0e0958653b50e3965ec972dd638ee13f.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script>
<script class="boomerang">
(function () {
  if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
    return;
  }
  window.BOOMR = window.BOOMR || {};
  window.BOOMR.snippetStart = new Date().getTime();
  window.BOOMR.snippetExecuted = true;
  window.BOOMR.snippetVersion = 12;
  window.BOOMR.application = "storefront-renderer";
  window.BOOMR.themeName = "Eva";
  window.BOOMR.themeVersion = "3.1";
  window.BOOMR.shopId = 24452869;
  window.BOOMR.themeId = 131251601581;
  window.BOOMR.url =
    "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
  var where = document.currentScript || document.getElementsByTagName("script")[0];
  var parentNode = where.parentNode;
  var promoted = false;
  var LOADER_TIMEOUT = 3000;
  function promote() {
    if (promoted) {
      return;
    }
    var script = document.createElement("script");
    script.id = "boomr-scr-as";
    script.src = window.BOOMR.url;
    script.async = true;
    parentNode.appendChild(script);
    promoted = true;
  }
  function iframeLoader(wasFallback) {
    promoted = true;
    var dom, bootstrap, iframe, iframeStyle;
    var doc = document;
    var win = window;
    window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
    bootstrap = function(parent, scriptId) {
      var script = doc.createElement("script");
      script.id = scriptId || "boomr-if-as";
      script.src = window.BOOMR.url;
      BOOMR_lstart = new Date().getTime();
      parent = parent || doc.body;
      parent.appendChild(script);
    };
    if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
      window.BOOMR.snippetMethod = "s";
      bootstrap(parentNode, "boomr-async");
      return;
    }
    iframe = document.createElement("IFRAME");
    iframe.src = "about:blank";
    iframe.title = "";
    iframe.role = "presentation";
    iframe.loading = "eager";
    iframeStyle = (iframe.frameElement || iframe).style;
    iframeStyle.width = 0;
    iframeStyle.height = 0;
    iframeStyle.border = 0;
    iframeStyle.display = "none";
    parentNode.appendChild(iframe);
    try {
      win = iframe.contentWindow;
      doc = win.document.open();
    } catch (e) {
      dom = document.domain;
      iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
      win = iframe.contentWindow;
      doc = win.document.open();
    }
    if (dom) {
      doc._boomrl = function() {
        this.domain = dom;
        bootstrap();
      };
      doc.write("<body onload='document._boomrl();'>");
    } else {
      win._boomrl = function() {
        bootstrap();
      };
      if (win.addEventListener) {
        win.addEventListener("load", win._boomrl, false);
      } else if (win.attachEvent) {
        win.attachEvent("onload", win._boomrl);
      }
    }
    doc.close();
  }
  var link = document.createElement("link");
  if (link.relList &&
    typeof link.relList.supports === "function" &&
    link.relList.supports("preload") &&
    ("as" in link)) {
    window.BOOMR.snippetMethod = "p";
    link.href = window.BOOMR.url;
    link.rel = "preload";
    link.as = "script";
    link.addEventListener("load", promote);
    link.addEventListener("error", function() {
      iframeLoader(true);
    });
    setTimeout(function() {
      if (!promoted) {
        iframeLoader(true);
      }
    }, LOADER_TIMEOUT);
    BOOMR_lstart = new Date().getTime();
    parentNode.appendChild(link);
  } else {
    iframeLoader(false);
  }
  function boomerangSaveLoadTime(e) {
    window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
  }
  if (window.addEventListener) {
    window.addEventListener("load", boomerangSaveLoadTime, false);
  } else if (window.attachEvent) {
    window.attachEvent("onload", boomerangSaveLoadTime);
  }
  if (document.addEventListener) {
    document.addEventListener("onBoomerangLoaded", function(e) {
      e.detail.BOOMR.init({
        producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
        ResourceTiming: {
          enabled: true,
          trackedResourceTypes: ["script", "img", "css"]
        },
      });
      e.detail.BOOMR.t_end = new Date().getTime();
    });
  } else if (document.attachEvent) {
    document.attachEvent("onpropertychange", function(e) {
      if (!e) e=event;
      if (e.propertyName === "onBoomerangLoaded") {
        e.detail.BOOMR.init({
          producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
          ResourceTiming: {
            enabled: true,
            trackedResourceTypes: ["script", "img", "css"]
          },
        });
        e.detail.BOOMR.t_end = new Date().getTime();
      }
    });
  }
})();</script>
</head><body class="template-page" data-form-style="minimal">
  
  <script type="text/javascript">
    window.totalProducts = "902"; 
    const totalProductsInQuickOrder = "902"; 
    const customerTags = ""; 
    const slInventoryUrl = 'https://sl-erp.sweetlegs.biz';
  </script>  
  
  

<div id="redirect-bar" class="redirect-bar" style="display:none">
  <div class="redirect-bar-text">
   We noticed you're in Canada, so we have redirected you to our Canadian store.
    <div class="text-center redirect-btn">          
    	<a class="redirect-btn" href="https://sweetlegs.com/pages/pdf-to-html/?no-redirect" target="_self">Go to USD store</a>
    	<a href="#" class="redirect-btn no">Thanks! Close this</a> 
    </div>
  </div>
</div>


  <style>
  .closeModal{
    font-size: 25px;
    font-weight: bold;
    color: #57C1B3;
    margin:10px;
    text-align: center;
  }
   .popUpModal{
      width: 100%;
      height: 100%;
      z-index: 999;
      position: fixed;
      top: 200px;
   }
  .modal-header{
    background-color: #57C1B3;
    font-weight: bold;
  }
  .modal-content {
    text-align: center;
    color: white;
    top: 100px;
    background-color: #57C1B3;
    max-width: 550px;
    border: none;
    padding: 20px;
  }
  .modal-footer {
    max-height: 70px;
    margin-top: 0px;
    text-align: center;
    border-top: none;
  }
  .hideMe{
  	display: none !important; 
  }
  .popUpModal {
    height: 100%; 
    width: 100%; 
    display:none;
    position: fixed; 
    top: 100px; 
    right: 300;
    z-index: 999;
 }
 .modal-header {
   background-color: #57C1B3;
   border-bottom: none;
   max-height: 30px;
 }
  .modal-body {
    padding:  30px;
    padding-bottom: 0px;
    text-align: left;
    font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
  
  }
 .btn.btn-default{
    background-color: white;
    display: inline-block;
    padding: 15px 30px;
    width: auto;
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: 600;
    letter-spacing: .125rem;
    text-transform: uppercase;
    margin-left: 15px;
   
} 
  .btn-default {
    color: #57C1B3;
    border: none;
  }
</style> 

<div class="popUpModal" style="top: 0px; background: rgba(0, 0, 0, 0.37); display: none" > 
 <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">WARNING:</h4>
      </div>
      <div class="modal-body" style="padding: 40px 10px 0px 10px; text-align: center">
        <p>You have hit the maximum line items allowed in your cart, please checkout to avoid any issues.</p>
      </div>
      <div class="modal-footer">
        <a href='/cart' class="btn btn-default goCart">Checkout</a>
        <button class="btn btn-default closeModal" style="margin-top: 0px;">OK</button>
      </div>
    </div>
   </div>
 </div>       

<script type="text/javascript">
   $('.closeModal').on('click',function(e){
      e.preventDefault();
      $('.popUpModal').fadeOut(0);          
  });
</script>
  <div class="modal fade id-locator" style="background: rgba(0,0,0,0.5);" id="locatorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Map Marker Details</h5>
        <button type="button" class="X-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  id="id-locater">
        <div class="modal-body">
          <input type="hidden" id="distributorId" name="customer_id" value="" />
          <input type="hidden"  name="store_id" value="24452869" />
          <div class="form-row form-row-wide hide" id="storeName">
            <p class="minimal-form-input has-text">
              <label for="store-name">
                <span class="text"><span class="text-inner">Store Name</span></span>
              </label>
              <input type="text" class="input-text" name="store" id="store-name" value="" readonly/>
            </p>
          </div>

          <!--     SOCIALS     -->
          <span class="requiredText"><span class='pink'>*</span> Required Information</span>
          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="First Name">
                <span class="text"><span class="text-inner pink">First Name</span></span>
              </label>
              <input autocomplete='off' type="text" id="firstName" name="firstName" value="" />
            </p>
          </div>

          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="facebook">
                <span class="text"><span class="text-inner pink">Website Link</span></span>
              </label>
              <input autocomplete='off' type="text" class="input-text" name="facebook" id="facebook" value="" placeholder="https://www.facebook.com/pages/" />
            </p>
          </div>


          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="new-phone">
                <span class="text"><span class="text-inner pink">Email</span></span>
              </label>
              <input autocomplete='off' type="text" class="input-text" name="email" id="email" value="" />
            </p>
          </div>

          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="new-phone">
                <span class="text"><span class="text-inner pink">Phone</span></span>
              </label>
              <input autocomplete='off' type="text" class="input-text" name="phone" id="phone" value="" />
            </p>
          </div>



          <!-- 	ADDRESSES	 -->
          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="address">
                <span class="text"><span class="text-inner">Street Address</span></span>
              </label>
              <input autocomplete='off' type="text" class="input-text" name="address" id="address" value="" />
            </p>
          </div>

          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="lat">
                <span class="text"><span class="text-inner">City<span class="pink" style="padding:5px">*</span></span></span>
              </label>
              <input autocomplete='off' required type="text" class="input-text" name="city" id="city" value="" />
            </p>
          </div>

          <div class="form-row form-row-wide" style="margin-top:25px;">
            <p class="minimal-form-input has-text">
              <label for="AddressCountryNew">Country<span class="pink" style="padding:5px">*</span></label>
              <span class="variation-select">
                <select required id="country" name="country" value=""data-default=""><option value="Canada" data-provinces="[[&quot;Alberta&quot;,&quot;Alberta&quot;],[&quot;British Columbia&quot;,&quot;British Columbia&quot;],[&quot;Manitoba&quot;,&quot;Manitoba&quot;],[&quot;New Brunswick&quot;,&quot;New Brunswick&quot;],[&quot;Newfoundland and Labrador&quot;,&quot;Newfoundland and Labrador&quot;],[&quot;Northwest Territories&quot;,&quot;Northwest Territories&quot;],[&quot;Nova Scotia&quot;,&quot;Nova Scotia&quot;],[&quot;Nunavut&quot;,&quot;Nunavut&quot;],[&quot;Ontario&quot;,&quot;Ontario&quot;],[&quot;Prince Edward Island&quot;,&quot;Prince Edward Island&quot;],[&quot;Quebec&quot;,&quot;Quebec&quot;],[&quot;Saskatchewan&quot;,&quot;Saskatchewan&quot;],[&quot;Yukon&quot;,&quot;Yukon&quot;]]">Canada</option></select>
              </span>
            </p>
          </div>

          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="province">
                <span class="text"><span class="text-inner">Province<span class="pink" style="padding:5px">*</span></span></span>
              </label>
              <input autocomplete='off' required type="text" class="input-text" name="province" id="province" value="" />
            </p>
          </div>

          <div class="form-row form-row-wide">
            <p class="minimal-form-input has-text">
              <label for="postal-code">
                <span class="text"><span class="text-inner">Postal Code<span class="pink" style="padding:5px">*</span></span></span>
              </label>
              <input autocomplete='off' required type="text" class="input-text" name="postcode" id="postal-code" value="" />  	
            </p>
            <p class="postal-code-error hideMe">Please insert the valid postal code!</p>
          </div>

          <fieldset class="LatLong">
            <label for="toggleLatLong">Do you want to modify your pin location?</label>
            <input autocomplete='off' class="toggleLatLong" type="checkbox" name="toggleLatLong" value="0" onchange="valueChanged()" />
            <span class="item-text">Yes</span>
          </fieldset>

          <span class="helpText" id="helpText">Click 
            <a target="_blank" rel="noopener" aria-label="what3word" aria-describedby="new-window-0" href="https://what3words.com/">here</a> to find your what3words.</span>

          <!--    LAT LONG SSECTION      -->
          <div class="form-row form-row-wide" id="toggleWhat3Words">
            <p class="minimal-form-input has-text">
              <label for="What3Words">
                <span class="text"><span class="text-inner">What3Words<span class="pink" style="padding:5px">*</span></span></span>
              </label>
              <input autocomplete='off' type="text" class="input-text" name="what3words" id="what3words" value="" />
            </p>
          </div>


          <!--         <button class="generateCoordinate"> Auto generate longitude and latitude</button> -->
          <div class="form-row form-row-wide" id="toggleLat">
            <p class="minimal-form-input has-text">
              <label for="lat">
                <span class="text"><span class="text-inner">Latitude<span class="pink" style="padding:5px">*</span></span></span>
              </label>
              <input autocomplete='off' type="number" step="any" class="input-text" name="lat" id="lat" value="" />
            </p>
          </div>

          <div class="form-row form-row-wide" id="toggleLong">
            <p class="minimal-form-input has-text">
              <label for="long">
                <span class="text"><span class="text-inner">Longitude<span class="pink" style="padding:5px">*</span></span></span>
              </label>
              <input autocomplete='off' type="number" step="any" class="input-text" name="long" id="long" value="" />
            </p>
          </div>



          <div class="modal-footer">
            <button type="sumbit" class="button saveButton">Submit</button>
            <button type="button" class="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> 
<div id="shopify-section-header" class="shopify-section"><div data-section-id="header" data-section-type="header-section"><link href="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/topbar.scss?v=104232087406582441901662853187" rel="stylesheet" type="text/css" media="all" />   
<div id="topbar" class="topbar">
  <div class="row" style="pointer-events: all">
    <div class="topbar-content medium-6 columns text-left"><div class="">
        <a href="#" class="store-switcher-cad" style="color:inherit">CAD</a> | 
        <a href="#" class="store-switcher-usd" style="color:inherit">USD</a>
      </div>
    </div>
    <div class="topbar-menu medium-6 columns text-right">
      <div class="topbar-menu-container">
        <ul class="topbar-menu">
           <li class="menu-item wishlist-button">
            <a class="tools_button" href="/pages/shop-local">
              Find A Distributor
            </a>
          </li>         
           <li class="menu-item login-button">
            <a href="/account">
              Login/Register
            </a>
          </li><li class="menu-item social-button"><ul class="social-icons"><li class="facebook"><a href="https://www.facebook.com/sweetlegs.ca"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's facebook Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-facebook-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="twitter"><a href="https://twitter.com/sweetlegs"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's twitter Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-twitter-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="pinterest"><a href="https://www.pinterest.ca/sweetlegs_ca/"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's pinterest Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-pinterest-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="instagram"><a href="http://instagram.com/sweetlegs"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's instagram Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-instagram-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="youtube"><a href="https://www.youtube.com/c/SweetLegsClothingInc/featured"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's youtube Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-youtube-circle" aria-hidden="true"></span>
      </a> 
    
  	</li></ul></li></ul>
      </div>
    </div>
  </div>
</div>
<header id="masthead" class="pdf-to-html header-v2 site-header animate-search" data-my-sticky="false" data-my-sticky-scroll="false" data-my-sticky-mobile="false">
  <div class="header-wrapper row">
    <div class="nav">
      <div class="header-nav">
        <div data-toggle="offcanvas" data-target="menu-offcanvas" data-src="left" class="menu-trigger menu_trigger_1">
          <div><span></span></div><span class="menu-title">Menu</span></div><link href="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/offcanvas.scss?v=144931915667849242481662853115" rel="stylesheet" type="text/css" media="all" />
<div class="menu-offcanvas">
  <div class="offcanvas_close offcanvas_target"></div><nav id="menu" class="offcanvas_target">
      <ul class="offcanvas_menu"><li class="menu-item">
  <a href="/collections/all">
    <span><small>New Arrivals</small></span></a></li><li class="menu-item">
  <a href="#">
    <span><small>Shop</small></span></a></li><li class="menu-item">
  <a href="#">
    <span><small>Rewards</small></span></a></li><li class="hr-menu-item"><hr /></li><li class="search-button">
          <a href="/search" data-toggle="offcanvas" data-target="search-offcanvas" data-src="right" class="cd-search-trigger cd-text-replace">
            <i class="search-button-icon">
              <span>
              <small style='font-size: 14px;letter-spacing: 1px;font-weight: 300;'>Search</small>
            </span>
            </i>
          </a>  
		</li><li class="bot-menu-item wishlist-button">
          <a class="tools_button" href="/pages/wishlist">
            <span>
              <small>Wishlist</small>
            </span>
          </a>
        </li><li class="bot-menu-item distributor-button">
          <a class="tools_button" href="/pages/find-our-products">
            <span>
               <i class="fal fa-map-marker-alt" style="padding-right: 12px; color: #00000091"></i><small>Find A Distributor</small>
            </span>
          </a>
        </li><li class="bot-menu-item login-button">
            <a href="/account">
              <span>
                <small>Login/Register</small>
              </span>
            </a>
          </li><li class="hr-menu-item"><hr /></li><ul class="social-icons"><li class="facebook"><a href="https://www.facebook.com/sweetlegs.ca"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's facebook Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-facebook-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="twitter"><a href="https://twitter.com/sweetlegs"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's twitter Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-twitter-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="pinterest"><a href="https://www.pinterest.ca/sweetlegs_ca/"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's pinterest Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-pinterest-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="instagram"><a href="http://instagram.com/sweetlegs"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's instagram Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-instagram-circle" aria-hidden="true"></span>
      </a> 
    
  	</li><li class="youtube"><a href="https://www.youtube.com/c/SweetLegsClothingInc/featured"
      target="_blank"
      rel="noopener"
      aria-label="Sweetlegs's youtube Page"
      aria-describedby="new-window-0">
      <span class="shopify-social-icon-youtube-circle" aria-hidden="true"></span>
      </a> 
    
  	</li></ul></ul>
    </nav>
</div>
<style>
  .offcanvas_aside .mm-menu {
    opacity: 1!important;
  }
  .offcanvas_aside .offcanvas_close {
    opacity: 1!important;
  }
</style></div>
    </div>
    <div class="site-branding"><div class="site-logo" itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" href="https://www.sweetlegs.ca" title="SweetLegs Canada" rel="home"><img class="mainImg" src="//cdn.shopify.com/s/files/1/2445/2869/t/467/assets/logo-svg.svg?v=117987108779578568851662853105" width="" alt="SweetLegs Canada" itemprop="logo"> 
          
        </a>
        </div>
    </div>
    <div class="nav2">
      <ul class="list-item"><li class="menu-item">
  <a href="/collections/all">
    <span><small>New Arrivals</small></span></a></li><li class="menu-item">
  <a href="#">
    <span><small>Shop</small></span></a></li><li class="menu-item">
  <a href="#">
    <span><small>Rewards</small></span></a></li></ul>
    </div>
    <div class="tools">
      <ul><li class="search-button">
          <a href="/search" data-toggle="offcanvas" data-target="search-offcanvas" data-src="right" class="cd-search-trigger cd-text-replace">
            <i class="search-button-icon"></i>
          </a><div id="search-section">
  <div class="search-desktop">
    <div class="offcanvas_close"></div>
    <h2 class="search-title">Search</h2>

    <div id="primary" class="content-area"> 
      <div id="content" class="site-content">
        <article class="page">
          <div class="search-row">
            <div class="large-12 search-columns">
              <div class="entry-content">          
              </div>  
            </div>
          </div>       
          <div class="search-row">
    <div class="large-12 search-columns" style="text-align: left">   
      <form role="search" method="get" class="search-form" action="/search">
        <div class="filterBoxWrap">
            <div class="filterBox fBox minimal-form-input" data-enable-listfilter="true" data-listfilter-list="#searchList" data-listfilter-by-attribute="data-name">
               <input class="customerTag" type=hidden value=  />  
               <label class="screen-reader-text" for="search">
                <span class="text"><span class="text-inner">Search for:</span></span>
               </label>
               <input   class="form-controls" autocomplete="off">
               <input type="hidden" name="type" value="product" />
  			   <input class="search-all" type="submit" value="Search" />               
            </div>
        </div>
      </form>
     <div class="suggestion_hint search_hint">Find your product with fast search. Enter some keyword such as <strong>black</strong>, <strong>floral</strong>, <strong>summer</strong> etc.</div> 
   </div>
  <div class="search-content">
        <table>
         <tbody id="searchList">
         </tbody>
    	</table>
        <table >
           <tbody id="searchListTag">
           </tbody>
        </table>
  </div>
  
  <p class="zeroResults hideMe">No Products Found</p>
  <div class="orderSubmit dummyOrder">          
  </div>  

</div><!-- row -->

        </article>
      </div>
    </div>
   </div>
</div>


<script type="text/javascript">

  $(document).ready(function() { 
    if ($('input:-webkit-autofill') && $('.form-controls').val().length > 0)
    {
      $('.minimal-form-input').removeClass('no-text');
      $('.minimal-form-input').addClass('has-text');
    } else {
      $('.minimal-form-input').addClass('no-text');
      $('.minimal-form-input').removeClass('has-text');
    }

  });  

</script>
                    
           
<style>
  .search-row {
    margin: 0px;
  }
   #searchList td{
    padding: 2px;
  }
  #searchListTitle td{
    padding: 2px;
  }
  #searchListTag td{
    padding: 2px;
  }

  .search-column {
    padding: 5px;
  }
  .orderForm td:first-child {
     width: 20%; 
   }
  .searchListImg img {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
 .search-row tr {
    cursor: pointer;
  }
  .form-controls {
    border: none;
  }
  .search-row tr:hover {   
    background: #f9f9f9;
    padding: 2px;
	}
  .search_hint {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .search-content {
    margin-top: 30px;
  }
  .offcanvas_search .search-form:after {
  	position: absolute;
    top: 15px;
    right: 0px;
  }
  .filterBox.fBox.minimal-form-input label span.text {
    top: 30%;
  }
  td.searchListImg {
   width: 50px;
  }
</style>
    </li><li class="wishlist-button">
          <a href="/pages/wishlist">
               <i class="fa fa-heart-o tooltipstered"></i></span>
          
          </a>
        </li><li class="cart-button">
            <a href="/cart" 
             
             
             data-toggle="offcanvas" data-target="cart-offcanvas"
             
            
              data-src="right">
            <div class="cart-desc">
              <span class="cart_total">
                <span class="amount"><span class="money">$1,372.00</span></span>
              </span>
              Cart
            </div>
            <i class="cart-button-icon"></i>
            <span class="cart_items_number counter_number animated rubberBand">49</span>
          </a>
        </li></ul>
    </div>
  </div>
</header>

<style> 
 .fa-heart-o:before {
    font-family: "icomoon";
    content: "\e903";
}
.wishlist-button a i:hover {  
    animation: beat .6s ease-in-out infinite;
}
    @media (max-width: 767.98px) { 
#topbar > div > div.topbar-menu.medium-6.columns.text-right > div > ul > li.menu-item.account-button > a {

    display:none !important;
  }}
</style>
</style></div>


</div><div id="shopify-section-mega-menu" class="shopify-section"> <div id="menu-primary-mega-menu" data-section-id="mega-menu" data-section-type="mega-menu">
  <ul class="list-item"><li class="menu-item">
      <a href="/collections/new">
        <span><small>New Arrivals</small></span></a></li><li class="menu-item is-mega-menu">
      <a href="#">
        <span><small>Shop</small></span></a><div class="sub-menu" style="background-image:url(//cdn.shopify.com/s/files/1/2445/2869/files/DSC_9810-small_ac2960e3-18c3-4028-81e2-841a8280efcf.jpg?v=1635434504); background-size: contain;width:;">
        <div class="mega-menu-content">
          <div class="row">
            <div class="columns large-12">          
            </div><div class="columns large-12"><div class="menu-item">
                <a href="/pages/maternity" class="dropdown-toggle">
                  <div class="athleisure-navbar">
                    <span><small>Maternity</small></span>
                    <div class="new-icon-container"><span class="new-icon light-pink">New</span></div>
                  </div></a><div class="mega-menu-submenu">
                  <ul class="sub-menu check">
                    <li class="menu-item">
                      <a href="/collections/maternity">
                        <span><small>Maternity Leggings</small>

                        </span></a>
                    </li>
                  </ul>
                </div>
              </div><div class="menu-item">
                <a href="/collections/athleisure-leggings" class="dropdown-toggle">
                  <div class="athleisure-navbar">
                    <span><small>Athleisure</small></span><div class="new-icon-container"><span class="new-icon">New</span></div>
                    
                  </div></a><div class="mega-menu-submenu">
                  <ul class="sub-menu check"><li class="menu-item">
                      <a href="/collections/free-motion-legging">
                          <span><small>Free Motion Leggings</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/free-motion-headband">
                          <span><small>Free Motion Headband</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/signature-water-bottles">
                          <span><small>Signature Water Bottles</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/duffle-bags">
                          <span><small>Signature Duffle Bags</small>

  
                        </span></a>
                    </li></ul>
                </div></div>
            </div><div class="columns large-12"><div class="menu-item">
                <a href="#" class="dropdown-toggle">
                  <div class="athleisure-navbar">
                    <span><small>SweetLegs</small></span>
                  </div></a><div class="mega-menu-submenu">
                  <ul class="sub-menu check"><li class="menu-item">
                      <a href="/collections/kids-leggings">
                          <span><small>Kids - Age 2 To 12</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/petite">
                          <span><small>Petite - Size 00 To 6</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/one-size">
                          <span><small>One - Size 6 To 14</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/plus">
                          <span><small>Plus - Size 14 To 22</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/plus2-size">
                          <span><small>Plus2 - Size 22 To 28</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/biker-shorts">
                          <span><small>Biker Shorts</small><div class="new-icon-container crops"><span class="new-icon">New</span></div>
                          

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/crops-solid-patterned">
                          <span><small>Crops</small>
<div class="new-icon-container crops"><span class="new-icon">New</span></div>
                          
  
                        </span></a>
                    </li></ul>
                </div></div>
            </div><div class="columns large-12"><div class="menu-item">
                <a href="/collections/sweettops" class="dropdown-toggle">
                  <div class="athleisure-navbar">
                    <span><small>SweetTops</small></span>
                  </div></a><div class="mega-menu-submenu">
                  <ul class="sub-menu check"><li class="menu-item">
                      <a href="/products/super-v-neck-tee">
                          <span><small>Super V-Neck Tee</small>

<div class="new-icon-container crops"><span class="new-icon">New</span></div>
                            
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/classic-tee">
                          <span><small>Classic Tee</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/classic-tunic">
                          <span><small>Classic Tunic</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/classic-long-sleeve">
                          <span><small>Classic Long Sleeve</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/products/classic-layering-tank">
                          <span><small>Classic Layering Tank</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/products/classic-swing-tank">
                          <span><small>Classic Swing Tank</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/the-weekender-dress">
                          <span><small>The Weekender Dress</small>

  
                        </span></a>
                    </li></ul>
                </div></div>
            </div><div class="columns large-12"><div class="menu-item">
                <a href="/collections/accessories" class="dropdown-toggle">
                  <div class="athleisure-navbar">
                    <span><small>Accessories</small></span>
                  </div></a><div class="mega-menu-submenu">
                  <ul class="sub-menu check"><li class="menu-item">
                      <a href="/collections/towels">
                          <span><small>Beach Towels</small>

 <div class="new-icon-container crops"><span class="new-icon">New</span></div>
                           
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/sunglasses">
                          <span><small>Sunglasses</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/scrunchies">
                          <span><small>Scrunchies</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/outerwear">
                          <span><small>Outerwear</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/jewelery">
                          <span><small>Jewelry</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/stickers">
                          <span><small>Stickers</small>

  
                        </span></a>
                    </li><li class="menu-item">
                      <a href="/collections/sweetlegs-swag">
                          <span><small>SweetLegs Swag</small>

  
                        </span></a>
                    </li></ul>
                </div></div>
            </div></div>
        </div>
      </div></li><li class="menu-item">
      <a href="/pages/rewards">
        <span><small>Rewards</small></span></a></li><li class="menu-item">
      <a href="">
        <span><small>Featured</small></span></a><ul class="sub-menu" style="width:250px;"><li class="menu-item">
  <a href="/collections/best-sellers">
    <span><small>Best Sellers</small></span></a></li><li class="menu-item">
  <a href="/products/gift-card">
    <span><small>Gift Card</small></span></a></li></ul></li><li class="menu-item">
      <a href="https://sweetlegs.ca/collections/spring-cleaning-sale">
        <span><small>SALE</small></span></a></li></ul>
</div>


<script>
  let crops_text = $(".new-icon-container.crops").parent();
  crops_text.css("display", "flex");
  console.log("crops_text", crops_text);
</script>  </div><div class="offcanvas_container">
    <input class='customer-tag' value="" type="hidden" />
    <div class="offcanvas_main_content">
      <div class="page-wrapper">
        <main id="main">
          <div id="signature_pad_page" class="content-area"><div class="page-header spacing animated fadeIn">
  <div class="row"><div class="title-section spacing"><div id="breadcrumbs" >
  <span property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" title="Home" href="https://www.sweetlegs.ca" class="inactiveLink">
      <span property="name">Home</span>
    </a>
    <meta property="position" content="1" />
  </span>
  &gt;<span property="itemListElement" typeof="ListItem">
    <span property="name">
      	Signature Pad
      
      
    </span>
    <meta property="position" content="2" />
  </span>
</div>

<style>
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
</style><h1 class="page-title" > Signature Pad</h1></div></div>
</div>


<div id="content" class="site-content">
    <article class="page">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            <div>
              <div class="image-cnt" style="position:relative" id="signature-pad">
                <img  src="https://cdn.shopify.com/s/files/1/2445/2869/t/458/assets/Merged_Sweetlegs_Contract_compressed.png?v=149731039329396157691661266317" usemap="#image-map" id="power-puff__map">
                  <map name="image-map">
                      <area target="" alt="First Signature" class="firstSignatureArea" title="First Signature" href="#" coords="150,1201,224,1276" shape="rect">
                      <area target="" alt="Second Signature" class="secondSignatureArea" title="Second Signature" href="#" coords="79,2269,324,2494" shape="rect">
                      <area target="" alt="Fourth Signature" class="fourthSignatureArea" title="Fourth Signature" href="#" coords="77,2849,339,3066" shape="rect">
                      <area target="" alt="Fifth Signature" class="fifthSignatureArea" title="Fifth Signature" href="#" coords="56,4481,304,4711" shape="rect">
                      <area target="" alt="Seventh Signature" class="seventhSignatureArea" title="Seventh Signature" href="#" coords="73,5640,312,5872" shape="rect">
                  </map>
            <div>
            </div>
          </div>
        </div>
      </div>
          <div style="width: 100%; 
                text-align: center; 
                height: 45px; 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                width: 75%; 
                margin: auto;" class="step_two_submission subscribebtn">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      <div class="submit_text">SUBMIT</div>
      </div>
    </article>

    <div class="wrapper">
        <div class="signature_pad_container">
          <div class="svg_container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M175 175C184.4 165.7 199.6 165.7 208.1 175L255.1 222.1L303 175C312.4 165.7 327.6 165.7 336.1 175C346.3 184.4 346.3 199.6 336.1 208.1L289.9 255.1L336.1 303C346.3 312.4 346.3 327.6 336.1 336.1C327.6 346.3 312.4 346.3 303 336.1L255.1 289.9L208.1 336.1C199.6 346.3 184.4 346.3 175 336.1C165.7 327.6 165.7 312.4 175 303L222.1 255.1L175 208.1C165.7 199.6 165.7 184.4 175 175V175zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"/></svg>
          </div> 
          <canvas id="signature-pad-modal" class="signature-pad-modal"></canvas>
          <div class="button_holder">
            <button class="subscribebtn" id="save-png">SAVE</button>
            <button class="subscribebtn" id="clear">CLEAR</button>
          </div> 
        </div>
      </div>
  </div>
</div>


<style>
    .lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #00c4b3;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  #signature_pad_page .wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .signature-pad-modal {
    left: 0;
    top: 0;
    width:400px;
    height:200px;
    background-color: white;
    border: 1px solid grey;
  }
  
  .button_holder{
    width: 400px;
    display: flex;
    justify-content: end;
  }
  
  .button_holder button{
  	margin-left: 10px;
  }
  
  .signature_pad_container {
    background: white;
    padding: 20px;
    border-radius: 12px;
  }
  
  #signature_pad_page .svg_container svg{
    width: 25px;
    height: 25px;
    float: right;
    margin: 0 0 15px;
    fill: #00c4b3;
  }
  .signature {
    position: absolute;
    left: 285px;
    top: 680px;
  }
  #signature_pad_page .circle {
    width: 200px;
    height: 200px;
  }
 @media only screen and (max-width: 600px) {
  #signature_pad_page .signature_pad_container {
    width: 90%;
  }
   #signature_pad_page .signature-pad-modal, .button_holder {
     width: 100%;
   }
} 
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script>
let clickedBoxClass = null;
  let signaturePad = null;
$(document).ready(function(e) {

setTimeout(function() {
$('area').each(function( index ) {
  console.log('this hit', $(this).attr('class'))
        let e = document.createElement('button');
        const addClassButton = `signature-pad-button ${$(this).attr('class')}`
        $(e).addClass(addClassButton);
        const coordiante =  $(this).attr('coords').split(',');
        let adjX = parseInt(coordiante[0]);
        let adjY = parseInt(coordiante[1]);
        let width = parseInt(coordiante[2]) - parseInt(coordiante[0]);
        let height = parseInt(coordiante[3]) - parseInt(coordiante[1]);   
        $(e).css("left",adjX);
        $(e).css("top",adjY);
         $(e).css("z-index",99999);
        $(e).css("position",'absolute');
        $(e).css("height", height);
        $(e).css("width", width);
        $('.image-cnt').append(e);
  })
  }, 1000);
class ImageResize {
  /**
   * constructor - make image maps responsive
   * @param {Object} config - setting for responsive image map
   */
  constructor(config) {
    const { width, height, element } = config;

    this.imageW = width;
    this.imageH = height;
    this.imageMap = document.querySelector(element);
    const mapId = this.imageMap.getAttribute('usemap');
    const mapElem = `map[name="${mapId.substring(1, mapId.length)}"]`;
    const area = document.querySelector(mapElem).children;
    this.areaArray = Array.from(area);

    window.addEventListener('resize', this.resizeEvent);
    setTimeout(this.imgMap, 500);
  }
  /**
   * getCoords - get image map coordinates
   * @param  {Node} elem - area tag
   * @return {String} - area map coordinates
   */
  getCoordinates = (elem) => {
    let areaCords = elem.dataset.coords;

    if (!areaCords) {
      areaCords = elem.getAttribute('coords');

      elem.dataset.coords = areaCords;
    }

    return areaCords;
  };
  imgMap = () => {
    this.wPercent = this.imageMap.offsetWidth / 100;
    this.hPercent = this.imageMap.offsetHeight / 100;

    this.areaArray.forEach(this.areaLoop);
  };
  /**
   * areaLoop - Loop through area tags for image map
   * @param  {Node} area - Area tag
   */
  areaLoop = (area) => {
    const coordinates = this.getCoordinates(area).split(',');
    const coordsPercent = coordinates.map(this.mapCoords).join();

    area.setAttribute('coords', coordsPercent);
  };
  /**
   * mapCoords - Set new image map coordinates based on new image width and height
   * @param  {String} coordinate - coordinates from image map array
   * @param  {Num} index - Loop index
   * @return {Num} - New image map coordinates
   */
  mapCoords = (coordinate, index) => {
    const parseCord = parseInt(coordinate, 10);

    return index % 2 === 0
      ? this.coordinatesMath(parseCord, this.imageW, this.wPercent)
      : this.coordinatesMath(parseCord, this.imageH, this.hPercent);
  };
  /**
   * coordinatesMath Set new coordinates from original image map coordinates
   * @param  {number} coordinates - original image map coordinate
   * @param  {number} imgVal - Image width or height value
   * @param  {number} percentVal - New image width or height divided by 100
   * @return {number} - New image map coordinates
   */
  coordinatesMath = (coordinates, imgVal, percentVal) =>
    (coordinates / imgVal) * 100 * percentVal;

  /**
   * resizeEvent - Resize Event
   */
  resizeEvent = () => {
    this.imgMap();
  };
}


const resizeImg = new ImageResize({
  width: 1700,
  height: 11000,
  element : '#power-puff__map'
})

function open_signature_pad(ClassName){
    $('.wrapper').css("display", "flex");
    let canvas = document.getElementById('signature-pad-modal');
    function resizeCanvas() {
      
      var ratio =  Math.max(window.devicePixelRatio || 1, 1);
      canvas.width = canvas.offsetWidth * ratio;
      canvas.height = canvas.offsetHeight * ratio;
      canvas.getContext("2d").scale(ratio, ratio);
    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    signaturePad = new SignaturePad(canvas, {
      backgroundColor: 'rgb(255, 255, 255,0)'
    });

    document.getElementById('save-png').addEventListener('click', function () {    
      const imgClassName = `img.square.${ClassName}`;
      if($(imgClassName).length > 0) {
        return;
      }   
      if (signaturePad.isEmpty()) {
        return alert("Please provide a signature first.");
      }

   
    });

    document.getElementById('clear').addEventListener('click', function () {
      signaturePad.clear();
    });
    
    // close signature pad
    document.getElementsByClassName('svg_container')[0].addEventListener('click', function(e){
      $('.wrapper').css("display", "none");
    });
  }

  $('#save-png').click(function() {
       var data = signaturePad.toDataURL('image/png');
        let e = document.createElement('img');
        const areaClass = `area.${clickedBoxClass}`
        const coordiante =  $(areaClass).attr('coords').split(',');
        let adjX = parseInt(coordiante[0]);
        let adjY = parseInt(coordiante[1]);
        let width = parseInt(coordiante[2]) - parseInt(coordiante[0]);
        let height = parseInt(coordiante[3]) - parseInt(coordiante[1]);   
        $(e).attr('src', data);
        $(`.signature-pad-button.${clickedBoxClass}`).append(e);
      $('.wrapper').css("display", "none");
  })
$(window).resize(function() {
  $('.signature-pad-button').each(function(i, obj) {
    const className = $(obj).attr('class').replace('signature-pad-button ', "");
     setTimeout(function(){
         const coordiante =  $(`area.${className}`).attr('coords').split(',');
        let x = parseInt(coordiante[0]);
        let y = parseInt(coordiante[1]);
        let width = parseInt(coordiante[2]) - parseInt(coordiante[0]);
        let height = parseInt(coordiante[3]) - parseInt(coordiante[1]);
        $(obj).css("left",x);
        $(obj).css("top",y);
        $(obj).css("height", height);
        $(obj).css("width", width);
       
     }, 500);
     
  })
});
$('.step_two_submission.subscribebtn').on('click', function(e) {
  $('.submit_text').css('display', 'none');
  $('.lds-ellipsis').css('display', 'flex');
  var domNode = document.getElementById('signature-pad')
  var scale = 1200/domNode.clientWidth;
   var options = {
           width: domNode.clientWidth * scale,
           height: domNode.clientHeight * scale,
           style: {
              transform: 'scale('+scale+')',
              transformOrigin: 'top left'
            }
      };

  
   domtoimage.toJpeg(document.getElementById('signature-pad'), options)
    .then(function (dataUrl) {
      var img = new Image();
      img.src = dataUrl;
      console.log("Image ", dataUrl);
      customerId = ``;
      console.log("customerId ", customerId);
      $.ajax({
                url : `https://sweetlegs.rocks/api/distributor-onboarding/Step2`,
                type : 'POST',
                data: {
                  customerId: customerId,
                  img: img.src
                },
                success : function(data) {
           }
      	});
      setTimeout(function(){    
        window.location = "/pages/id-sign-up-dashboard";
        $('.submit_text').css('display', 'block');
        $('.lds-ellipsis').css('display', 'none');
      }, 5000);
    })
    .catch(function (error) {
      console.error('oops, something went wrong!', error);
    });
}) 

  
$(document).on("click",".signature-pad-button",function() {	
    clickedBoxClass = $(this).attr('class').replace('signature-pad-button ', "");;
    open_signature_pad($(this).attr('class'));
});
});
</script>
